.top-bar {
  margin-bottom: 30px;
}

#game {
  margin: 30px auto;
}

#game .konvajs-content {
  margin: 0px auto;
}

#matches-table, #stats_table {
  margin: 20px auto;
}

table .success {
  background-color: #DFF0D8 !important;
}

table .info {
  background-color: #D9EDF7 !important;
}

table .error {
  background-color: #F2DEDE !important;
}
